header{
  .intro-front-view {
    background: url("../../assets/img/banner/blue-poly-img.jpg")no-repeat center center;
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .full-bg-img{
      .card{
        background-color: transparent;
      }
    }
  }
  .navbar {
      background-color: transparent;
      @include mediaQueries (xs){
        background-color: $midnight-express;
      }
      @include mediaQueries (sm){
        background-color: $midnight-express;
      }
      .active  {
          color: $dogger-blue !important;
          font-weight: bold;
      }
  }
  .top-nav-collapse {
      background-color: $midnight-express;
  }
  .logo-container{
    position: absolute;
    bottom: 0;
    span{

    }
  }

  .typewriter  {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  //border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    //blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */

}
